180719 SQL 스터디 / 12기 김지현

# CH01. 데이터베이스와 SQL

## 01강. 데이터베이스

- 컴퓨터 안에 기록되어 있는 모든 것.
- 특정 데이터를 찾고 싶을 때 간단히 찾을 수 있도록 정리된 형태
- 하드디스크나 플래시메모리(SSD) 같은 비휘발성을 띠는 공간에 저장

### 01. 시스템 내의 데이터베이스

- 데이터센터의 서버에서 운용하거나, 개인용 컴퓨터나 휴대용 기기에도 저장
- 인터넷 예약, 쇼핑몰, 가게의 POS, 휴대폰의 전화번호부 등

### 02. DB와 DBMS

- DB: DataBase. 저장장치 내 저장된 데이터의 집합
- DBMS: DataBase Management System. DB를 관리하기 위한 효율적인 시스템</p>
><p> 생산성 : 개발에 필요한 작업을 줄여 생산성 높임 </p>
><p> 기능성 : CRUD 제공. 데이터베이스 기능을 유저가 확대할 수도 있어서 유연성도 높음 </p>
><p> 신뢰성 : 하드웨어를 여러 대 두어 확장성을 높이고 부하를 분산함; 클러스터 구성, 스케일 아웃</p>

### 03. 데이터베이스를 조작하는 언어 SQL

- 이런 DBMS를 다루기 위한 언어가 SQL이며, 특히 RDBMS(Relational DBMS)에 쓰임

- **DDL (Data Definition Language)**
<p>: 스키마(데이터 구조)의 정의</p>
<p>: 설계된 DB 구조를 DBMS에 입력</p><p></p>
- **DML (Data Manipulation Language)**
<p>: 데이터를 검색, 삽입, 삭제, 갱신하기 위한 언어</p>

---
# CH02. 테이블에서 데이터 검색

SELECT * FROM table1;

SELECT : 명령문
* : 모든 것
table1 : 테이블명
; : 명령문의 끝

- 예약어와 데이터베이스 객체명은 <font color = 'red'>**대소문자 구별을 하지 않는다.**</font>

<p>**실습)**</p>
https://demo.phpmyadmin.net/master-config/index.php?lang=ko

CREATE SCHEMA IF NOT EXISTS `mydb` DEFAULT CHARACTER SET utf8 ;
USE `mydb` ;

DROP TABLE IF EXISTS `mydb`.`Trainer` ;

CREATE TABLE IF NOT EXISTS `mydb`.`Trainer` (
  `Trainer_No` INT NOT NULL AUTO_INCREMENT,
  `Trainer_Name` VARCHAR(45) NOT NULL,
  `Trainer_BirthDate` DATE NOT NULL,
  `Trainer_Sex` SET('M', 'F') NOT NULL,
  `Trainer_Price` INT NOT NULL,
  `Trainer_Field` SET('DIET', 'BULK_UP', 'HEALTH_CARE') NOT NULL,
  `Trainer_Phone` INT NOT NULL,
  PRIMARY KEY (`Trainer_No`),
  UNIQUE INDEX `Trainer_Phone_UNIQUE` (`Trainer_Phone` ASC))
ENGINE = InnoDB;

INSERT INTO `Trainer` VALUES
	(1,'LEE_MYOUNG_JIN','1980-05-04','M',50000,'BULK_UP',01012345678),
	(2,'MO_JUNG_HUN','1975-10-01','M',35000,'HEALTH_CARE',01012123434),
	(3,'PARK_GEUN_HYE','1990-03-12','F',10000,'DIET',01034345656),
	(4,'CHOI_SUN_SIL','1988-09-01','F',15000,'HEALTH_CARE',01056567878),
	(5,'KIM_JIN_NAM','1977-03-23','M',30000,'HEALTH_CARE',01078788989),
	(6,'KIM_TAE_HEE','1986-10-29','F',25000,'DIET',01085852525),
	(7,'PARK_JI_SUNG','1977-01-01','M',30000,'DIET',01074741414),
	(8,'LEE_DONG_GUK','1969-04-04','M',20000,'DIET',01088889999),
	(9,'YOO_SO_YOUNG','1976-07-07','F',40000,'HEALTH_CARE',01096963636),
	(10,'KIM_JIN_PIL','1993-02-14','M',15000,'BULK_UP',01091914646),
	(11,'PARK_SUNG_JIN','1983-02-25','M',20000,'DIET',01073735454),
	(12,'KIM_SE_JUNG','1989-07-08','F',30000,'DIET',01085852516),
	(13,'AHN_SUNG_JUN','1982-01-19','M',20000,'HEALTH_CARE',01098765432),
	(14,'CHOI_YU_JUNG','1990-05-30','F',20000,'DIET',01085214785),
	(15,'KIM_SO_HYE','1985-12-25','F',30000,'DIET',01096587412),
	(16,'KO_SUNG_JUN','1989-11-11','M',10000,'HEALTH_CARE',01032541689),
	(17,'LEE_MUN_SE','1965-04-03','M',20000,'BULK_UP',01033338195),
	(18,'SON_HEUNG_MIN','1987-05-05','M',40000,'BULK_UP',01051624859),
	(19,'KOO_JA_CHEOL','1980-03-09','M',10000,'HEALTH_CARE',01091624873),
	(20,'KI_SEONG_YONG','1979-11-02','M',30000,'HEALTH_CARE',01077771004);

SELECT * FROM `Trainer`;